.main_login_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFEDEE!important; 
}
.login_container{
    border: 1px solid rgba(158, 149, 149, 0.588);
    padding: 100px;
    background-color:white;
}
.loginform_container{
    width: 254px;
}
.logininput_box{
    border-color:rgb(229 231 235) !important;
    background-color:rgba(212, 213, 216, 0.2) !important;
  }
  .logininput_box2{
    border-color:rgb(229 231 235) !important;
    background-color:rgba(212, 213, 216, 0.2) !important;
  }
  .logininput_box:focus{
    box-shadow: none !important;
    background-color:rgb(229 231 235) !important;
  }
  .loginform-label{
    margin-bottom: 0rem !important;
  }
  .login_heading{
    color: #764abc;
  }
  .submit_container{
      /* margin-top: -19px !important; */
      margin-top: 10px;

  }
  .login_button{
    background-color:#764abc;
    /* border-color:#764abc; */
    color: white;
    /* margin: 0.2rem 0.5rem; */
    /* outline:'none'; */
    padding: 2px 10px;
    border: 1px solid #764abc;
    border-radius: 7px;
    width: 60%;
  }
  .loginwarning_errors{
    font-size: 0.5rem;
    color:#421302 ;
    margin-bottom: 0rem;
  }
  .login_error{
    margin-top: -9px;
  }
  .logincontainer_field{
    margin-bottom: 12px;
  }
  .logincontainer_field_password{
    margin-bottom: 24px;
  }
  .loginmargin_content_password{
    margin-bottom: 0px;
  }
  .loginmargin_content{
    margin-bottom: 0px;
  }

  .para_singup{
    font-size: 0.8rem;
    font-weight: 500;
    color: #764abc;
    text-decoration: none;
}
.signup_span{
    color:black;
    cursor:pointer;
  }

  .terms_condtions_label{
    font-size: 0.7rem;
    color: black;
    font-weight: 400;
    margin-bottom: 0px !important;
  }

  @media screen and (max-width:460px) {
    .login_container{
      width: 100%;
  }
  .form_container{
   width: 100%;
}

}
@media (max-width:400px) {
  .login_container{
    padding: 14px;
  }
  .loginform_container{
    width: auto;
}
  
}